<%- include('partials/header') %>


<div class="jumbotron centered" style="background-color: #E4E9FD;">
  <div class="container">
    <i class="fas fa-clipboard-list fa-8x" style="color: #57575d;"></i>
    <h1 class="headers display-3">TaskMinder</h1>
    <p class="headers lead">Stay on track and conquer your day with our intuitive todo list web application!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>